.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.modal.show-modal {
  display: flex; /* Center the content */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  /* Styles for large screens (laptops and desktops) */
  img {
    width: 25%;
    margin: 3% 2%;
  }

  .zoom {
    width: 50%;
  }

  button {
    width: 10%;
    align-items: center;
    background-color: blue;
    color: whitesmoke;
    border-radius: 4%;
  }

  .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    overflow: auto;
  }

  .show-modal {
    display: block;
  }
  .modal-img img {
    min-width: 100vh;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /* Styles for medium screens (tablets) */
  img {
    width: 25%;
    margin: 3% 2%;
  }
  .zoom {
    width: 50%;
  }
  button {
    width: 10%;
    align-items: center;
    background-color: blue;
    color: whitesmoke;
    border-radius: 4%;
  }
  .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    overflow: auto;
  }
  .show-modal {
    display: block;
  }
  .modal-img img {
    min-width: 100vh;
  }
}

@media (max-width: 480px) {
  /* Styles for small screens (phones) */
  img {
    width: 25%;
    margin: 3% 2%;
  }
  .zoom {
    width: 50%;
  }
  button {
    width: 10%;
    align-items: center;
    background-color: blue;
    color: whitesmoke;
    border-radius: 4%;
  }
  .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    overflow: auto;
  }
  .show-modal {
    display: block;
  }
  .modal-img img {
    min-width: 100vh;
  }
}
